<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.dao.InfoSlaveMapper">
  <resultMap id="BaseResultMap" type="com.edu.entity.InfoSlave">
    <id column="slave_id" jdbcType="INTEGER" property="slaveId" />
    <result column="con_no" jdbcType="VARCHAR" property="conNo" />
    <result column="phy_name" jdbcType="VARCHAR" property="phyName" />
    <result column="log_name" jdbcType="VARCHAR" property="logName" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    slave_id, con_no, phy_name, log_name, comment
  </sql>
  <select id="selectByExample" parameterType="com.edu.entity.InfoSlaveExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from info_slave
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from info_slave
    where slave_id = #{slaveId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from info_slave
    where slave_id = #{slaveId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.edu.entity.InfoSlaveExample">
    delete from info_slave
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.edu.entity.InfoSlave">
    insert into info_slave (slave_id, con_no, phy_name, 
      log_name, comment)
    values (#{slaveId,jdbcType=INTEGER}, #{conNo,jdbcType=VARCHAR}, #{phyName,jdbcType=VARCHAR}, 
      #{logName,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.edu.entity.InfoSlave">
    insert into info_slave
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="slaveId != null">
        slave_id,
      </if>
      <if test="conNo != null">
        con_no,
      </if>
      <if test="phyName != null">
        phy_name,
      </if>
      <if test="logName != null">
        log_name,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="slaveId != null">
        #{slaveId,jdbcType=INTEGER},
      </if>
      <if test="conNo != null">
        #{conNo,jdbcType=VARCHAR},
      </if>
      <if test="phyName != null">
        #{phyName,jdbcType=VARCHAR},
      </if>
      <if test="logName != null">
        #{logName,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.edu.entity.InfoSlaveExample" resultType="java.lang.Long">
    select count(*) from info_slave
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update info_slave
    <set>
      <if test="record.slaveId != null">
        slave_id = #{record.slaveId,jdbcType=INTEGER},
      </if>
      <if test="record.conNo != null">
        con_no = #{record.conNo,jdbcType=VARCHAR},
      </if>
      <if test="record.phyName != null">
        phy_name = #{record.phyName,jdbcType=VARCHAR},
      </if>
      <if test="record.logName != null">
        log_name = #{record.logName,jdbcType=VARCHAR},
      </if>
      <if test="record.comment != null">
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update info_slave
    set slave_id = #{record.slaveId,jdbcType=INTEGER},
      con_no = #{record.conNo,jdbcType=VARCHAR},
      phy_name = #{record.phyName,jdbcType=VARCHAR},
      log_name = #{record.logName,jdbcType=VARCHAR},
      comment = #{record.comment,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.edu.entity.InfoSlave">
    update info_slave
    <set>
      <if test="conNo != null">
        con_no = #{conNo,jdbcType=VARCHAR},
      </if>
      <if test="phyName != null">
        phy_name = #{phyName,jdbcType=VARCHAR},
      </if>
      <if test="logName != null">
        log_name = #{logName,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where slave_id = #{slaveId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edu.entity.InfoSlave">
    update info_slave
    set con_no = #{conNo,jdbcType=VARCHAR},
      phy_name = #{phyName,jdbcType=VARCHAR},
      log_name = #{logName,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR}
    where slave_id = #{slaveId,jdbcType=INTEGER}
  </update>
</mapper>